// Docs main content
//
// _content.scss
//

:root {

    --content-icon-color: var(--primary);
    --content-icon-bg: var(--sidebar-icon-bg);
    --content-icon-border: var(--sidebar-icon-bg);
    --content-link-color: var(--primary);

    --ordered-list-bg: var(--gray-200);
    --blockquote-border-color: var(--gray-300);

}

[data-dark-mode] {

    --content-icon-color: var(--primary-200);
    --content-icon-bg: hsl(var(--primary-hsl), 0.15);
    --content-icon-border: var(--primary-800);
    --content-link-color: var(--primary-300);

    --blockquote-border-color: var(--primary-200);
    --ordered-list-bg: var(--gray-700);

}

// Links
.docs-content .main-content a {
    color: var(--content-link-color);
    &:hover {
        text-decoration: underline 2px var(--primary-200) !important;
        text-underline-offset: 2.5px !important;
        transition: 0s !important;
    }
    // &.anchor i {
    //     transform: rotate(-45deg);
    // }
}

.docs-content .main-content {
    #edit-this-page a,
    #list-item a {
        &:hover {
            text-decoration: none !important;
        }
    }
}

.docs-content .main-content li {
    color: var(--text-muted);
}

.docs-content .main-content h1,
.docs-content .main-content h2,
.docs-content .main-content h3,
.docs-content .main-content h4,
.docs-content .main-content h5 {
    font-weight: 700;
    color: var(--body-color);
}

.docs-content .main-content a {
    font-weight: 600;
}

.docs-content .content-title {
    font-weight: 700;

    i {
        width: 44px;
        height: 44px;
        color: var(--content-icon-color);
        background-color: var(--content-icon-bg);
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        // border: solid 1px var(--content-icon-border);
        border-radius: 5px;
    }
}

.docs-content p {
    &.lead {
        color: var(--text-muted);
        font-weight: 400;
    }
}

// Images
.docs-content .main-content img {
    max-width: 100%;
}

// Unordered List Styling
.docs-content .main-content ul {
    list-style: none;
    font-size: 16px;
    line-height: 26px;
    padding-left: 0;

    li {
        position: relative;
        padding-left: 32px;
    }

    li::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        left: 8px;
        top: 10px;
        border-radius: 30%;
        background: $gray-400;
    }
}

// Ordered List Styling
.docs-content .main-content ol {
    list-style: none;
    line-height: 26px;

    li {
        counter-increment: listitem;
        position: relative;
        padding-left: 32px;
    }

    li::before {
        content: counter(listitem);
        background: var(--ordered-list-bg);
        color: inherit;
        font-size: 12px;
        font-weight: 500;
        line-height: 10px;
        text-align: center;
        padding: 5px 0;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 3px;
    }
}

// Blockquote
.docs-content .main-content blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: 3px solid var(--blockquote-border-color);
    padding-left: 1rem;
}

// Code
.docs-content .main-content code {
    font-size: 13px;
    color: #f5fbff;
    font-weight: 500;
    padding: 1px 2px;
    background: var(--gray-900);
    border: none;
    border-radius: 4px;
}

.docs-content .main-content pre {
    margin: 16px 0;
    background-color: transparent !important;

    code {
        display: block;
        background: #212d63;
        overflow-x: auto;
        line-height: $line-height-base;
        padding: 1.25rem 1.5rem;
        tab-size: 4;
        scrollbar-width: thin;
        //scrollbar-color: transparent transparent;
    }
}

.docs-content .main-content .alert ul {
    font-size: $font-size-sm;
}