//
// doc-nav.scss
//

@media (max-width: 425px) {
    .doc-next {
        order: 2;
    }

    .doc-prev {
        order: 1;
    }
}

.doc-hr {
    border-top: 1px solid $gray-500;
    margin-top: 2rem;
    margin-bottom: 0px;
    padding-top: 1rem;
}