//
// _footer.scss
//
footer {
    position: relative;
    color: var(--text-muted);
    background: var(--body-bg);
    height: 58px;
    .text-foot {
        color: var(--gray-500);
    }
    .footer-head {
        font-size: 18px !important;
        letter-spacing: 1px;
        font-weight: 500;
    }
}