<!DOCTYPE html>
{{ $.Scratch.Delete "social_list" -}}
<!-- social_list -->
{{- $social_params := slice "github" "twitter" "instagram" "rss" -}}
{{- range $social_params -}}
    {{ if isset site.Params.social . }}
        {{ $.Scratch.Add "social_list" (slice .) }}
    {{ end }}
{{- end -}}

<!--
Is an image_compare landing page template enabled?
If so, collect and consolidate the items config from each enabled instance
-->
{{$.Page.Scratch.Set "image_compare_config" (slice ) }}
{{$.Page.Scratch.Set "image_compare_used" false }}

<html lang="{{ site.LanguageCode }}" dir="ltr">
    {{- partial "head.html" . -}}
    <body>
        <div>
            {{- partial "header.html" . -}}
        </div>
        <div class="mb-4" id="content">
            {{- block "main" . }}{{- end }}
        </div>
            {{- partial "footer.html" . -}}

    </body>
</html>
