//
// breadcrumb.scss
//

:root {
    --breadcrumb-item-color: var(--primary);
}

[data-dark-mode] {
    --breadcrumb-item-color: var(--primary-300);
}

#breadcrumbs .breadcrumb-item {
    color: var(--breadcrumb-item-color);
}
#breadcrumbs .breadcrumb-item.active {
    color: var(--text-muted);
}
