//
// Forms.scss
//

:root {
    --form-border-color: var(--gray-200);
    --form-control-focus-color: var(--gray-900);
    --form-control-focus-bg-color: none;
    --form-control-focus-border-color: var(--primary);
    --form-control-placeholder-color: #666d78;
}

[data-dark-mode] {
    --form-border-color: var(--gray-800);
    --form-control-focus-color: var(--gray-200);
    --form-control-focus-bg-color: #000;
    --form-control-focus-border-color: var(--primary-300);
    --form-control-placeholder-color: #7f8497;
}

//Form
.form-label,
.form-check-label {
    font-weight: 700;
    font-size: 14px;
}

.form-control {
    border: 1px solid var(--form-border-color);
    font-size: 14px;
    line-height: 22px;
    border-radius: 4px;
    color: var(--text-default) !important;
    background-color: var(--body-bg);
    text-align: left;
    &:focus {
        border-color: $primary;
        box-shadow: none;
    }
    &[readonly] {
        background-color: $white;
    }
    &:disabled {
        background-color: $gray-300;
    }
    &::placeholder{
        color: var(--form-control-placeholder-color);
    }
}

.form-control:focus {
    color: var(--form-control-focus-color);
    border-color: var(--form-control-focus-border-color);
    background-color: var(--form-control-focus-bg-color);
}

.form-check-input {
    border: 1px solid $border-color;
    background-color: $form-check-input-bg;
    &:focus {
        border-color: $primary;
        box-shadow: none;
    }
    &.form-check-input:checked {
        background-color: $primary;
        border-color: $primary;
    }
}