//
// _table.scss
//

// Table

table {
    td {
        border-top: 1px solid #dcdcdc;
    }
    td, th {
        border-right: 1px solid #dcdcdc;
        padding: 8px 12px;
    }
    td:last-child, th:last-child {
        border-right: 0;
    }
}

// Responsive Table
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    // background-color: $table-bg;
    .table {
        td,
        th {
            vertical-align: middle;
        }
        &.table-nowrap {
            th,
            td {
                white-space: nowrap;
            }
        }
        &>:not(:first-child) {
            border-top: none !important;
        }
    }
    .table-center {
        th {
            vertical-align: middle !important;
        }
        tbody {
            tr {
                &:hover {
                    color: $dark;
                    background-color: $gray-100;
                }
            }
        }
    }
}