{{ define "main" }}

    {{ $landingData := (default .Site.Data.landing_default .Site.Data.landing) }}
    

    {{ $map := newScratch }}

    {{ range $key, $value := $landingData }}
        {{ $sectionTitle := (index $key) }}
        {{ $weight := string ($value.weight) }}
        {{ $template := string (replaceRE `( |-{1,})` "_" $value.template) }}
        {{ with and $template $weight }}
            {{ $map.SetInMap "wgtTpl" $sectionTitle (dict
            "weight" $weight
            "template" $template
            "sectionTitle" $sectionTitle
            "data" $value
            )}}
        {{ end }}
    {{ end }}

    {{ range sort ($map.Get "wgtTpl") ".weight" }}

        {{ $.Scratch.Set "sectionTitle" .sectionTitle }}
        {{ $path := printf "landing/%s.html" .template }}
        {{ partial $path . }}
    {{ end }}
    {{/* printf "%s" (sort ($map.Get "wgtTpl") ".weight" ) */}}
{{ end }}