{{ if .Site.Data.landing.features.enable }}
<!-- Features Start -->
<div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title">
                {{ if .Site.Data.landing.features.title }}
                    <h4 class="title fw-bold mb-4">{{ .Site.Data.landing.features.title }}</h4>
                {{ end }}
                {{ if .Site.Data.landing.features.subtitle }}
                    <p class="text-muted para-desc mb-4 pb-2 mx-auto">{{ .Site.Data.landing.features.subtitle | markdownify }}</p>
                {{ end }}
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                {{ range .Site.Data.landing.features.items }}
                    <div class="col-md-4 col-12">
                        <div class="d-flex features feature-primary p-3">
                            <div class="{{ if .icon }}icon{{ else }}no-icon{{ end }} text-center rounded-3 text-primary me-3">
                                <i class="material-icons align-middle h4 mb-0">{{ .icon }}</i>
                            </div>
                            <div class="flex-1">
                                <h4 class="title">{{ .title }}</h4>
                                <p class="text-muted para mb-0">{{ .description | markdownify }}</p>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                {{ end }}
            </div>
            <!--end row-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>
<!--end container-->
<!-- features End -->
{{ end }}